  @headerColor: #536c79;
:local(.header) {
  color: @headerColor;
  .app-title {
    width: 85%;
    text-align: center;
  }
  .app-user-name {
    margin-right: 0.2rem;
    margin-bottom: 0;
  }
  .navbar-brand {
    width: 50px !important;
  }
  .settings,.menu-bars {
    color: @headerColor;
  }
}
